@import '../../../assets/scss/colors.scss';

.header {
  background: $primary-color;
  padding: 14px 20px;
  display: flex;
  align-items: center;

  .title {
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }
}
.go-back {
  display: block;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 23px;
  color: white;
  cursor: pointer;
}
