@import '../../../assets/scss/colors.scss';

.loading-container {
  background: #202020e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: auto;
  border-radius: 6px;
  z-index: 10;  
  transition: .4s;
  

  .loading-text {
    font-size: 1.5em;
  }
}
